[submodule "ccNoise"]
	path = ccNoise
	url = https://github.com/jobtalle/ccNoise.git
[submodule "ccFont"]
	path = ccFont
	url = https://github.com/tversteeg/ccFont.git
[submodule "ccTerm"]
	path = ccTerm
	url = https://github.com/tversteeg/ccTerm.git
[submodule "ccRandom"]
	path = ccRandom
	url = https://github.com/jobtalle/ccRandom.git
[submodule "ccTrigonometry"]
	path = ccTrigonometry
	url = https://github.com/jobtalle/ccTrigonometry.git
[submodule "ccSort"]
	path = ccSort
	url = https://github.com/jobtalle/ccSort.git
[submodule "ccVector"]
	path = ccVector
	url = https://github.com/jobtalle/ccVector.git
[submodule "ccCollision"]
	path = ccCollision
	url = git@github.com:tversteeg/ccCollision.git
